* {
	border: 0px;
	border-radius: 0px;
	padding: 0px;
	font-family: monospace;
}

tooltip {
	background: none;
}

tooltip label {
	background: rgba(0, 0, 0, 0.8);
}

label.module {
	padding: 0em 0.2em;
	text-shadow: +1px +1px 1px black, +1px -1px 1px black, -1px +1px 1px black, -1px -1px 1px black;

}

window#waybar {
	background: transparent;
	font-size: 26px;
	color: white;
}

#clock {
	font-size: 14px;
	font-weight: bold;
}

#taskbar button.active {
	background: rgba(255, 255, 255, 0.5);
}

#workspaces button.active {
	color: black;
	background-color: yellowgreen;
}
